h1{
    text-decoration: underline;
}
.logo{
    width: 300px;
    height: 300px;
}
.path2{
    stroke-width:0;
}
.logo2:hover .path2{
    stroke-width:3px;
    stroke-dasharray: 1400;
    stroke-dashoffset: 1400;
    animation: dash 2s ease-out forwards;
}
.path3{
    stroke-dasharray: 50;
    stroke-dashoffset: 400;
    animation: dash 2s linear forwards infinite;
}
.path4{
    stroke-width:0;
    transition: all .5s;
}
.logo4 .logo-text__m{
    fill: #000000;
    transition: all .5s;
}
.logo4 .logo-text__w{
    transition: all .5s;
}
.logo4:hover .path4{
    stroke-width:3px;
    stroke-dasharray: 1400;
    stroke-dashoffset: 1400;
    animation: dash .6s ease-out forwards;
}
.logo4:hover .logo-text__m{
    animation: move-up .5s linear forwards;
}
.logo4:hover .logo-text__w{
    animation: move-down .5s linear forwards;
}
@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes move-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
            fill: #008080;
  }
}
@keyframes move-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
            fill: #800080;
  }
}